.SignupPage {
  padding: 10% 0;
  color: white;
  height: 65vh;
  display: flex;
  justify-content: center;

}

.SignupContainer {
  background-color: black;
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.LoginTitle {
  font-size: 35px;
}