.movieCardImage {
  height: 50vh;
  width: 50vh;
  margin: auto;
}

.movieInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

dl {
  margin: auto 25px;
}

dt, dd {
  border: 1px black solid;
  margin: 2px;
}